In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:/study/SEM 6/Data analytics with python/datafiles/gapminder-FiveYearData.csv')

In [3]:
df

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5     Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6     Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7     Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8     Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12        Albania  1952   1282697.0    Europe   55.230  1601.056136
13        Albania  1957   1476505.0    Europe   59.280  1942.284244
14        Albania  1962   1728137.0    Europe   64.820  2312.888958
15        Albania  1967   1984060.0    Europe   66.220  2760.196931
16        Albania  1972   2263554.0    Europe   67.690  3313.422188
17        Albania  1977   2509048.0    Europe   68.930  3533.003910
18        Albania  1982   2780097.0    Europe   70.420  3630.880722
19        Albania  1987   3075321.0    Europe   72.000  3738.932735
20        Albania  1992   3326498.0    Europe   71.581  2497.437901
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
24        Algeria  1952   9279525.0    Africa   43.077  2449.008185
25        Algeria  1957  10270856.0    Africa   45.685  3013.976023
26        Algeria  1962  11000948.0    Africa   48.303  2550.816880
27        Algeria  1967  12760499.0    Africa   51.407  3246.991771
28        Algeria  1972  14760787.0    Africa   54.518  4182.663766
29        Algeria  1977  17152804.0    Africa   58.014  4910.416756
...           ...   ...         ...       ...      ...          ...
1674   Yemen Rep.  1982   9657618.0      Asia   49.113  1977.557010
1675   Yemen Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676   Yemen Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677   Yemen Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678   Yemen Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679   Yemen Rep.  2007  22211743.0      Asia   62.698  2280.769906
1680       Zambia  1952   2672000.0    Africa   42.038  1147.388831
1681       Zambia  1957   3016000.0    Africa   44.077  1311.956766
1682       Zambia  1962   3421000.0    Africa   46.023  1452.725766
1683       Zambia  1967   3900000.0    Africa   47.768  1777.077318
1684       Zambia  1972   4506497.0    Africa   50.107  1773.498265
1685       Zambia  1977   5216550.0    Africa   51.386  1588.688299
1686       Zambia  1982   6100407.0    Africa   51.821  1408.678565
1687       Zambia  1987   7272406.0    Africa   50.821  1213.315116
1688       Zambia  1992   8381163.0    Africa   46.100  1210.884633
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1693     Zimbabwe  1957   3646340.0    Africa   50.469   518.764268
1694     Zimbabwe  1962   4277736.0    Africa   52.358   527.272182
1695     Zimbabwe  1967   4995432.0    Africa   53.995   569.795071
1696     Zimbabwe  1972   5861135.0    Africa   55.635   799.362176
1697     Zimbabwe  1977   6642107.0    Africa   57.674   685.587682
1698     Zimbabwe  1982   7636524.0    Africa   60.363   788.855041
1699     Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[1704 rows x 6 columns]

In [4]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

# gives number of columns and rows

In [5]:
print(df.shape)

(1704, 6)

# gives column names

In [6]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

# gives data types of each column

In [7]:
print(df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

# get more info about data

In [8]:
print(df.info)

<bound method DataFrame.info of           country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5     Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6     Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7     Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8     Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12        Albania  1952   1282697.0    Europe   55.230  1601.056136
13        Albania  1957   1476505.0    Europe   59.280  1942.284244
14        Albania  1962   1728137.0    Europe   64.820  2312.888958
15        Albania  1967   1984060.0    Europe   66.220  2760.196931
16        Albania  1972   2263554.0    Europe   67.690  3313.422188
17        Albania  1977   2509048.0    Europe   68.930  3533.003910
18        Albania  1982   2780097.0    Europe   70.420  3630.880722
19        Albania  1987   3075321.0    Europe   72.000  3738.932735
20        Albania  1992   3326498.0    Europe   71.581  2497.437901
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
24        Algeria  1952   9279525.0    Africa   43.077  2449.008185
25        Algeria  1957  10270856.0    Africa   45.685  3013.976023
26        Algeria  1962  11000948.0    Africa   48.303  2550.816880
27        Algeria  1967  12760499.0    Africa   51.407  3246.991771
28        Algeria  1972  14760787.0    Africa   54.518  4182.663766
29        Algeria  1977  17152804.0    Africa   58.014  4910.416756
...           ...   ...         ...       ...      ...          ...
1674   Yemen Rep.  1982   9657618.0      Asia   49.113  1977.557010
1675   Yemen Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676   Yemen Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677   Yemen Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678   Yemen Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679   Yemen Rep.  2007  22211743.0      Asia   62.698  2280.769906
1680       Zambia  1952   2672000.0    Africa   42.038  1147.388831
1681       Zambia  1957   3016000.0    Africa   44.077  1311.956766
1682       Zambia  1962   3421000.0    Africa   46.023  1452.725766
1683       Zambia  1967   3900000.0    Africa   47.768  1777.077318
1684       Zambia  1972   4506497.0    Africa   50.107  1773.498265
1685       Zambia  1977   5216550.0    Africa   51.386  1588.688299
1686       Zambia  1982   6100407.0    Africa   51.821  1408.678565
1687       Zambia  1987   7272406.0    Africa   50.821  1213.315116
1688       Zambia  1992   8381163.0    Africa   46.100  1210.884633
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1693     Zimbabwe  1957   3646340.0    Africa   50.469   518.764268
1694     Zimbabwe  1962   4277736.0    Africa   52.358   527.272182
1695     Zimbabwe  1967   4995432.0    Africa   53.995   569.795071
1696     Zimbabwe  1972   5861135.0    Africa   55.635   799.362176
1697     Zimbabwe  1977   6642107.0    Africa   57.674   685.587682
1698     Zimbabwe  1982   7636524.0    Africa   60.363   788.855041
1699     Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[1704 rows x 6 columns]>

# get the Variable_name column and save it to its own variable

In [12]:
Variable_name_df = df['year']

# show the first 5 observations

In [13]:
print(Variable_name_df.head())

0    1952
1    1957
2    1962
3    1967
4    1972
Name: year, dtype: int64

# show the last 5 observations

In [14]:
print(Variable_name_df.tail())

1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, dtype: int64

# Looking at Variable_code, Variable_name, and Variable_category

In [15]:
subset = df[['country','continent','lifeExp']]

In [16]:
print(subset.head())

       country continent  lifeExp
0  Afghanistan      Asia   28.801
1  Afghanistan      Asia   30.332
2  Afghanistan      Asia   31.997
3  Afghanistan      Asia   34.020
4  Afghanistan      Asia   36.088

In [17]:
print(subset.tail())

       country continent  lifeExp
1699  Zimbabwe    Africa   62.351
1700  Zimbabwe    Africa   60.377
1701  Zimbabwe    Africa   46.809
1702  Zimbabwe    Africa   39.989
1703  Zimbabwe    Africa   43.487

# get the first row

In [18]:
print(df.loc[0])

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

# get the last row

In [19]:
print(df.tail(n=1))

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

# select the first, 100th, and 1000th rows

## Subsetting Multiple Rows

In [20]:
print(df.loc[[0,99,999]])

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

# Subset Rows by Row Number: iloc

## get the 2nd row

In [21]:
print(df.iloc[1])

country      Afghanistan
year                1957
pop          9.24093e+06
continent           Asia
lifeExp           30.332
gdpPercap        820.853
Name: 1, dtype: object

## get the 100th row

In [22]:
print(df.iloc[99])

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

## using -1 to get the last row

In [23]:
print(df.iloc[-1])

country         Zimbabwe
year                2007
pop          1.23111e+07
continent         Africa
lifeExp           43.487
gdpPercap        469.709
Name: 1703, dtype: object

## get the first, 100th, and 1000th rows

In [24]:
print(df.iloc[[0,99,999]])

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

# subset columns with loc

In [27]:
subsetcol = df.loc[:,['country','lifeExp']]

In [28]:
print(subsetcol)

          country  lifeExp
0     Afghanistan   28.801
1     Afghanistan   30.332
2     Afghanistan   31.997
3     Afghanistan   34.020
4     Afghanistan   36.088
5     Afghanistan   38.438
6     Afghanistan   39.854
7     Afghanistan   40.822
8     Afghanistan   41.674
9     Afghanistan   41.763
10    Afghanistan   42.129
11    Afghanistan   43.828
12        Albania   55.230
13        Albania   59.280
14        Albania   64.820
15        Albania   66.220
16        Albania   67.690
17        Albania   68.930
18        Albania   70.420
19        Albania   72.000
20        Albania   71.581
21        Albania   72.950
22        Albania   75.651
23        Albania   76.423
24        Algeria   43.077
25        Algeria   45.685
26        Algeria   48.303
27        Algeria   51.407
28        Algeria   54.518
29        Algeria   58.014
...           ...      ...
1674   Yemen Rep.   49.113
1675   Yemen Rep.   52.922
1676   Yemen Rep.   55.599
1677   Yemen Rep.   58.020
1678   Yemen Rep.   60.308
1679   Yemen Rep.   62.698
1680       Zambia   42.038
1681       Zambia   44.077
1682       Zambia   46.023
1683       Zambia   47.768
1684       Zambia   50.107
1685       Zambia   51.386
1686       Zambia   51.821
1687       Zambia   50.821
1688       Zambia   46.100
1689       Zambia   40.238
1690       Zambia   39.193
1691       Zambia   42.384
1692     Zimbabwe   48.451
1693     Zimbabwe   50.469
1694     Zimbabwe   52.358
1695     Zimbabwe   53.995
1696     Zimbabwe   55.635
1697     Zimbabwe   57.674
1698     Zimbabwe   60.363
1699     Zimbabwe   62.351
1700     Zimbabwe   60.377
1701     Zimbabwe   46.809
1702     Zimbabwe   39.989
1703     Zimbabwe   43.487

[1704 rows x 2 columns]

# subset columns with iloc, iloc will alow us to use integers and -1 will select the last column

In [29]:
subsetcol = df.iloc[:,[4,5,-1]]

In [30]:
print(subset.head())

       country continent  lifeExp
0  Afghanistan      Asia   28.801
1  Afghanistan      Asia   30.332
2  Afghanistan      Asia   31.997
3  Afghanistan      Asia   34.020
4  Afghanistan      Asia   36.088

# Subsetting Columns by Range

## create a range of integers from 0 to 4 inclusive

In [31]:
small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

##  subset the dataframe with the range

In [32]:
subsetcol = df.iloc[:,small_range]

In [33]:
print(subsetcol.head())

       country  year         pop continent  lifeExp
0  Afghanistan  1952   8425333.0      Asia   28.801
1  Afghanistan  1957   9240934.0      Asia   30.332
2  Afghanistan  1962  10267083.0      Asia   31.997
3  Afghanistan  1967  11537966.0      Asia   34.020
4  Afghanistan  1972  13079460.0      Asia   36.088

# Subsetting Rows and Columns

## using loc

In [35]:
print(df.loc[21,'country'])

Albania

## using iloc

In [36]:
print(df.iloc[21,5])

3193.054604

# Subsetting Multiple Rows and Columns

## get the 1st, 100th, and 1000th rows
## from the 1st, 4th, and 6th columns

In [37]:
print(df.iloc[[0,99,999],[0,3,5]])

         country continent    gdpPercap
0    Afghanistan      Asia   779.445314
99    Bangladesh      Asia   721.186086
999     Mongolia      Asia  1226.041130

### if we use the column names directly,
### it makes the code a bit easier to read
### note now we have to use loc, instead of iloc

In [39]:
print(df.loc[[0,99,999],['country','continent','gdpPercap']])

         country continent    gdpPercap
0    Afghanistan      Asia   779.445314
99    Bangladesh      Asia   721.186086
999     Mongolia      Asia  1226.041130

In [40]:
print(df.loc[10:13,['country','continent','gdpPercap']])

        country continent    gdpPercap
10  Afghanistan      Asia   726.734055
11  Afghanistan      Asia   974.580338
12      Albania    Europe  1601.056136
13      Albania    Europe  1942.284244

In [41]:
print(df.head(n=10))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106
5  Afghanistan  1977  14880372.0      Asia   38.438  786.113360
6  Afghanistan  1982  12881816.0      Asia   39.854  978.011439
7  Afghanistan  1987  13867957.0      Asia   40.822  852.395945
8  Afghanistan  1992  16317921.0      Asia   41.674  649.341395
9  Afghanistan  1997  22227415.0      Asia   41.763  635.341351

# For each year in our data, what was the average life expectancy?
## To answer this question,
## we need to split our data into parts by year;
## then we get the 'lifeExp' column and calculate the mean

In [42]:
print(df.groupby('country')['gdpPercap'].mean())

country
Afghanistan                   802.674598
Albania                      3255.366633
Algeria                      4426.025973
Angola                       3607.100529
Argentina                    8955.553783
Australia                   19980.595634
Austria                     20411.916279
Bahrain                     18077.663945
Bangladesh                    817.558818
Belgium                     19900.758072
Benin                        1155.395107
Bolivia                      2961.228754
Bosnia and Herzegovina       3484.779069
Botswana                     5031.503557
Brazil                       5829.316653
Bulgaria                     6384.055172
Burkina Faso                  843.990665
Burundi                       471.662990
Cambodia                      675.367824
Cameroon                     1774.634222
Canada                      22410.746340
Central African Republic      958.784697
Chad                         1165.453674
Chile                        6703.289147
China                        1488.307694
Colombia                     4195.342920
Comoros                      1314.380339
Congo Dem. Rep.               648.342646
Congo Rep.                   3312.788215
Costa Rica                   5448.610779
                                ...
Sierra Leone                 1072.819493
Singapore                   17425.382267
Slovak Republic             10415.530689
Slovenia                    14074.582109
Somalia                      1140.793252
South Africa                 7247.431074
Spain                       14029.826479
Sri Lanka                    1854.731119
Sudan                        1835.010430
Swaziland                    3163.352358
Sweden                      19943.126104
Switzerland                 27074.334405
Syria                        3009.287981
Taiwan                      10224.807181
Tanzania                      849.281271
Thailand                     3045.966474
Togo                         1153.820116
Trinidad and Tobago          7866.871946
Tunisia                      3477.210351
Turkey                       4469.453380
Uganda                        810.383788
United Kingdom              19380.472986
United States               26261.151347
Uruguay                      7100.133176
Venezuela                   10088.516252
Vietnam                      1017.712615
West Bank and Gaza           3759.996781
Yemen Rep.                   1569.274672
Zambia                       1358.199409
Zimbabwe                      635.858042
Name: gdpPercap, Length: 142, dtype: float64